.controller.custom {
    background: url("https://spikips.github.io/ds4-gold-dragon/base.png?v=6") no-repeat;
    width: 1024px;
    height: 1024px;
}

.custom.disconnected div {
    display: none;
}

.custom.disconnected .sticks {
    display: block;
}

.custom .stick {
    position: absolute;
    width: 128px;
    height: 126px;
    background: url("https://spikips.github.io/ds4-gold-dragon/thumbstick.png") center / 128px 126px no-repeat;
}

.custom .stick.left {
    left: 278px;
    top: 437px;
}

.custom .stick.right {
    left: 606px;
    top: 437px;
}

.custom .button,
.custom .face,
.custom .bumper,
.custom .back,
.custom .start,
.custom .trigger-button {
    position: absolute;
    opacity: 0;
}

.custom .y {
    left: 788px;
    top: 271px;
    width: 62px;
    height: 61px;
    background: url("https://spikips.github.io/ds4-gold-dragon/triangle_button.png") center / 62px 61px no-repeat;
}

.custom .b {
    left: 857px;
    top: 337px;
    width: 62px;
    height: 62px;
    background: url("https://spikips.github.io/ds4-gold-dragon/circle_button.png") center / 62px 62px no-repeat;
}

.custom .a {
    left: 788px;
    top: 404px;
    width: 62px;
    height: 62px;
    background: url("https://spikips.github.io/ds4-gold-dragon/cross_button.png") center / 62px 62px no-repeat;
}

.custom .x {
    left: 717px;
    top: 337px;
    width: 62px;
    height: 62px;
    background: url("https://spikips.github.io/ds4-gold-dragon/rectangle_button.png") center / 62px 62px no-repeat;
}

.custom .face.up {
    left: 166px;
    top: 289px;
    width: 51px;
    height: 62px;
    background: url("https://spikips.github.io/ds4-gold-dragon/up_dpad.png") center / 51px 62px no-repeat;
}

.custom .face.down {
    left: 165px;
    top: 386px;
    width: 53px;
    height: 62px;
    background: url("https://spikips.github.io/ds4-gold-dragon/bottom_dpad.png?v=4") center / 53px 62px no-repeat;
}

.custom .face.left {
    left: 110px;
    top: 342px;
    width: 63px;
    height: 51px;
    background: url("https://spikips.github.io/ds4-gold-dragon/left_dpad.png?v=4") center / 63px 51px no-repeat;
}

.custom .face.right {
    left: 210px;
    top: 342px;
    width: 63px;
    height: 50px;
    background: url("https://spikips.github.io/ds4-gold-dragon/right_dpad.png?v=4") center / 63px 50px no-repeat;
}

.custom .bumper.left {
    left: 140px;
    top: 214px;
    width: 119px;
    height: 25px;
    background: url("https://spikips.github.io/ds4-gold-dragon/l1.png") center / 119px 25px no-repeat;
}

.custom .bumper.right {
    left: 742px;
    top: 212px;
    width: 123px;
    height: 24px;
    background: url("https://spikips.github.io/ds4-gold-dragon/r1.png") center / 123px 24px no-repeat;
}

.custom .back {
    left: 286px;
    top: 240px;
    width: 27px;
    height: 45px;
    background: url("https://spikips.github.io/ds4-gold-dragon/share_button.png") center / 27px 45px no-repeat;
}

.custom .start {
    left: 697px;
    top: 240px;
    width: 24px;
    height: 45px;
    background: url("https://spikips.github.io/ds4-gold-dragon/options_button.png") center / 24px 45px no-repeat;
}

.custom .trigger-button.left {
    left: 148px;
    top: 116px;
    width: 132px;
    height: 85px;
    background: url("https://spikips.github.io/ds4-gold-dragon/l2.png?v=6") center / 132px 85px no-repeat;
}

.custom .trigger-button.right {
    left: 739px;
    top: 117px;
    width: 134px;
    height: 86px;
    background: url("https://spikips.github.io/ds4-gold-dragon/r2.png?v=6") center / 134px 86px no-repeat;
}

.custom .a.pressed,
.custom .b.pressed,
.custom .x.pressed,
.custom .y.pressed,
.custom .face.pressed,
.custom .bumper.pressed,
.custom .back.pressed,
.custom .start.pressed,
.custom .trigger-button.pressed {
    opacity: 1;
}
